h1 Liste des touites
    each touite in touiteAndAuthor
        div.touite            
            div.avatarName
                img(
                src=touite.author.avatar
                width="100"
                height="100"
                onerror="this.src='/static/img/avatars/default-avatar.svg'")
                p=`${touite.author.username}`
            div.touites-content.set(id=`${touite.id}`): p.touite-text.show=`${touite.content}`
            if touite.author.id === user.id    
                div.icones
                    a.modify(onclick='modify("' + touite.id + '")')
                        i.fas.fa-pencil-alt
                    a(href=`/touites/${touite.id}`)
                        i.fas.fa-trash-alt
            else
                - if (touite.likes.includes(user.id))
                    div.unlikeBtn
                        i.far.fa-heart=`${touite.likes.length}`
                        a(href=`/touites/unlike/${touite.id}`)
                            button unlike
                                i.far.fa-thumbs-down
                - else
                    div.likeBtn
                        i.far.fa-heart=`${touite.likes.length}`
                        a(href=`/touites/like/${touite.id}`)
                            button  like
                                i.far.fa-thumbs-up
                if user.follows.length === 0
                    div.follow-container: a.bt-follow(href=`/users/follow/${touite.author.id}`) follow
                else
                    - if (user.follows.includes(touite.author.id))
                        div.follow-container: a.bt-follow(href=`/users/unfollow/${touite.author.id}`) unfollow
                    - else
                        div.follow-container: a.bt-follow(href=`/users/follow/${touite.author.id}`) follow
        